 h1 {
   text-align: center;

 }
 h2 {
  text-align: center;
}
/* Index Page */

.link {
  position: relative;
  width: 30%;
  left: 20%;
}

.link2 {
  position: absolute;
  width: 25%;
  left: 55%;
  top: 15%;

}

.link2:hover .image {
  opacity: 0.2;
}

.link2:hover .popup{
  opacity: 1;
}


.link3 {
  position: absolute;
  width: 25%;
  left: 55%;
  top: 50%;

}

.link3:hover .image {
  opacity: 0.2;
}

.link3:hover .popup{
  opacity: 1;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; 

}

.popup {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

 .link:hover .image {
   opacity: 0.2;
 }

 .link:hover .popup {
  opacity: 1;
 }

 .titlePage {
   background-color: #A9A9A9;
   color: white;
   font-size: 36px;
   padding: 10px;
  
 }
 
 /* Menu */ 
.navigation {
    background-color: #9cadb7;
    overflow: hidden;
  }
  
  .navigation a {
    float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .navigation a:hover {
    background-color: #d6d2c4;
    color: black;
  }

  .navigation a.active {
    background-color: #A9A9A9;
    color: white;
  }





  /* People in CS Page */ 
  
.collapse {
  background-color: #A9A9A9; /* for info */
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: middle;
  outline: none;
  font-size: 25px;
  
}

.open, .collapse:hover {
  background-color: #d6d2c4;
  color: #000000;
}

.collapse:after {
  content: url("images/Binary.png");
  font-weight: bold;
  float: right;
  margin-left: 5px;

}
 .open:after {
  content: url("images/binary_2.png");
}

.people_content {
  padding: 0 18px;
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  width: 95%;
  transition: 0.2s ease-out;
  display: block;
}
.accordion_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  }
/* ..................................... */


/* Resources Page */

.back {
  background-image: url("images/laptop.png");
  height: 600px;
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;

  
 }
 .button1 {
  left: 30%;
  top: 20%;
  display: inline;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #A9A9A9;
  border-radius: 6px;
  outline: none;
  position: absolute;
 }
 .button2 {
  left: 42%;
  top: 20%;
  display: inline;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #A9A9A9;
  border-radius: 6px;
  outline: none;
  position: absolute;
 }
 .button3 {
  left: 60%;
  top: 20%;
  display: inline;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #A9A9A9;
  border-radius: 6px;
  outline: none;
  position: absolute;
 }
 .button4 {
  left: 30%;
  top: 45%;
  display: inline;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #A9A9A9;
  border-radius: 6px;
  outline: none;
  position: absolute;
 }
 .button5 {
  left: 45%;
  top: 45%;
  display: inline;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #A9A9A9;
  border-radius: 6px;
  outline: none;
  position: absolute;
 }
 .button6 {
  left: 60%;
  top: 45%;
  display: inline;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #A9A9A9;
  border-radius: 6px;
  outline: none;
  position: absolute;
 }
 .title {
  text-align: center;
  padding-top: 6%;
  font-weight: bold;
}
.title2 {
  text-align: center;
  padding-top: 8%;
  font-weight: bold;
}


/* ..................................... */

